<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <style>
        h3 {
            position: relative;
            display: inline-block;
            margin-bottom: 1em;
            color: #545273;
        }

        h3:before {
            content: '';
            position: absolute;
            bottom: -15px;
            display: inline-block;
            width: 60px;
            height: 5px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #545273;
            border-radius: 2px;
        }
    </style>
</head>
<body>
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container-header  mb-5 row">
        <div class="col-md-3 text-start">
            <a href="/"><img src="/images/homeLogo.png" class="img-fluid" alt=""></a>
        </div>

    </div>

    <div class="card border-0 col col-8" style="margin: 0 auto;">
        <h3 class="card-title text-center mb-5">新しいタスクを登録する</h3>

        <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;">
            <form id="newTaskForm" action="/create" method="post">
                <div class="mb-5 form-group">
                    <label for="taskIdInput" class="form-label badge rounded-pill bg-light text-dark">タスクID</label>
                    <input type="text" class="form-control" name="taskId" id="taskIdInput">
                </div>

                <div class="mb-5">
                    <label for="title" class="form-label  badge rounded-pill bg-light text-dark">タイトル</label>
                    <input type="text" id="title" class="form-control" name="title">
                </div>

                <div class="row mb-5">
                    <div class="col mb-3">
                        <label for="startDay" class="form-label  badge rounded-pill bg-light text-dark">予定日</label>
                        <input type="date" id="startDay" class="form-control" name="startDay">
                    </div>

                    <div class="col mb-3">
                        <label for="finishDay" class="form-label  badge rounded-pill bg-light text-dark">完了日</label>
                        <input type="date" id="finishDay" class="form-control" name="finishDay">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col mb-3">
                        <label for="priRadios" class="form-label  badge rounded-pill bg-light text-dark"> 優先順位</label>
                        <div id="priRadios" class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pri" id="inlineRadio1" checked
                                       value="1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pri" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pri" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pri" id="inlineRadio4" value="4">
                                <label class="form-check-label" for="inlineRadio4">4</label>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="stuRadios" class="form-label  badge rounded-pill bg-light text-dark"> 完成状態</label>
                        <div id="stuRadios" class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="stu" id="inlineRadio5" checked
                                       value="0">
                                <label class="form-check-label" for="inlineRadio5">未完了</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="stu" id="inlineRadio6" value="1">
                                <label class="form-check-label" for="inlineRadio6">完了</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center d-grid gap-2 d-md-flex">
                    <input class="btn btn-outline-primary" type="button" value="登録" onclick="sumbit_sure()">
                    <a class="btn btn-outline-primary" href="/" role="button">戻る</a>
                </div>
            </form>
        </div>
    </div>

</div>
<footer>
    <p>©2022 Dairui Zhang.</p>
</footer>
</body>
<script>
    function sumbit_sure() {
        //全ての項目が必須！
        var t = $('form').serializeArray();
        var empty = false;
        $.each(t, function () {
            if (this.value.length == 0) {
                alert('all required!');
                empty = true;
                return false;
            }
        })
        if (empty) {
            return false;
        } else {
            var comf = confirm("提出してもいいですか。");
            if (comf) {
                $('#newTaskForm').submit();
                alert('新規タスク登録しました！')
            } else {
                return false;
            }
        }

    }
</script>
</html>