<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>新規ユーザー登録</h1>
    <form action="/reg" method="post">
        ID:<br>
        <input type="text" name="userID">
        <br><br>
        Password1:<br>
        <input id="password1" type="password" name="userPass1">
        <br><br>
        Password Again:<br>
        <input id="password2" type="password" name="userPass">
        <br><br>

        <input id="ChangePassword" type="submit" value="登録" disabled="true">
        <span id="pwmatch" style="display: none">パスワードが一致していない！</span>
            
        
    </form>
     <a href="/loginReg"><button>戻る</button></a>
</body>

</html>
<script>


$("input[type=password]").keyup(function() {
            if ($("#password1").val() != "" || $("#password2").val() != "") {
                if ($("#password1").val() == $("#password2").val()) {

                    $("#pwmatch").css("display", "none");
                    $("#ChangePassword").attr('disabled', false);

                } else {
                    $("#pwmatch").css("display", "block");
                    $("#ChangePassword").attr('disabled', 'disabled');
                }
            }
        });
</script>