<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

<div class="card text-center mt-lg-5 border-0" style="width: 18em; margin: 0 auto;">
    <div class="card-body">
        <a href="/"><img src="/images/logo.png" class="img-fluid" alt=""></a>
        <form action="/reg" method="post">
            <div class="form-floating  mb-3">
                <input id="regId" type="text" class="form-control" name="userID" placeholder="id">
                <label for="floatingInput">ID</label>
            </div>
            <div class="form-floating  mb-3">
                <input type="password" id="password1" class="form-control" name="userPass1" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating  mb-5">
                <input type="password" id="password2" class="form-control" name="userPass" placeholder="Password">
                <label for="floatingPassword">Password Again</label>
            </div>
            <div id="pwmatch" class="alert alert-secondary" role="alert" style="display: none; font-size: smaller;">
                パスワードが一致していないよ！
            </div>


            <div class="d-grid gap-2">
                <input class="btn btn-outline-primary mb-2" id="regBtn" type="submit" value="登録" disabled="true">
                <a href="/loginReg" role="button" class="btn btn-outline-primary">戻る</a>
            </div>
        </form>

    </div>
</div>
<footer>
    <p>©2022 Dairui Zhang.</p>
</footer>
</body>

</html>
<script>

    $("input[type=password]").keyup(function () {
        if ($("#password1").val() != "" || $("#password2").val() != "") {
            if ($("#password1").val() == $("#password2").val()) {

                $("#pwmatch").css("display", "none");
                $("#regBtn").attr('disabled', false);

            } else {
                $("#pwmatch").css("display", "block");
                $("#regBtn").attr('disabled', 'disabled');
            }
        }
    });

    //-----------------------AJAX for Signin----------------------------------
    $(function () {
        $('#regBtn').click(function () {
            var user = $('input[type=text]')
            var pwd = $('input[type=password]')
            var regdata = {
                user: user.val(),
                pwd: pwd.val()
            }
            $.ajax({ //POST
                type: 'post',
                url: '/reg',
                dataType: 'json',
                data: regdata,
                async: true,
                success: function (data) {
                    if (data.code > 0) {
                        //成功
                        alert(data.msg);
                        window.location.href = '/';
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    })


</script>